.container
    .row
        .col-md-4
            .content-postulant
                .image-postulant
                    
                .info-postulant
                    .name-postulant
                        |AIMAR ESPINOZA BBBBB

                    .data-postulant
                        ul
                            li(class="email") aimar_espinoza@hotmail.com
                            li(class="date") 00000000
                            li(class="phone") 960216626
                    .btn-info-postulant
                        a(href="#") Editar Perfil
                        a(href="#" class="repassword" type='button', data-toggle='modal', data-target='#myModal3') Cambiar Contraseña
            .content-my-applications
                .my-applications
                    |Mis postulaciones

                .recent
                    span(class="title-recentes") Recientes
                    ul
                        li 
                            a(href="#") Teleoperadores
                        li  
                            a(href="#") Ventas
                        li
                            a(href="#") Call center 
        .col-md-8
            .content-work-available
                .title-works Empleos 
                        span Disponibles
                .block-banner
                    .img-banner
                        
                    .form-banner
                        form(class="navbar-form navbar-left" role="search")
                            .form-group
                                input(type="text" class="form-control lupa" required)
                            .form-group
                                input(type="text" class="form-control map" required)
                            .btn-right
                                button(type="button" class="btn btn-default") Buscar
                .grid-work-available
                    .row
                        .col-md-6
                            .content-my-applications
                                .my-applications
                                    |Teleoperadores

                                .recent
                                    .info-client-province
                                        .name-client
                                            a(href="#") BBVA Continental
                                        .name-province
                                            |Ate
                                    .info-client-province
                                        .name-client
                                            a(href="#") Scotiabank
                                        .name-province
                                            |Trujillo
                                    
                                    a(href="#" class="btn-ver-empleos") Ver empleos


                        .col-md-6
                            .content-my-applications
                                .my-applications
                                    |Teleoperadores

                                .recent
                                    .info-client-province
                                        .name-client
                                            a(href="#") BBVA Continental
                                        .name-province
                                            |Ate
                                    .info-client-province
                                        .name-client
                                            a(href="#") Scotiabank
                                        .name-province
                                            |Trujillo
                                    
                                    a(href="#" class="btn-ver-empleos") Ver empleos
                        .col-md-6
                            .content-my-applications
                                .my-applications
                                    |Teleoperadores

                                .recent
                                    .info-client-province
                                        .name-client
                                            a(href="#") BBVA Continental
                                        .name-province
                                            |Ate
                                    .info-client-province
                                        .name-client
                                            a(href="#") Scotiabank
                                        .name-province
                                            |Trujillo
                                    
                                    a(href="#" class="btn-ver-empleos") Ver empleos


                        .col-md-6
                            .content-my-applications
                                .my-applications
                                    |Teleoperadores

                                .recent
                                    .info-client-province
                                        .name-client
                                            a(href="#") BBVA Continental
                                        .name-province
                                            |Ate
                                    .info-client-province
                                        .name-client
                                            a(href="#") Scotiabank
                                        .name-province
                                            |Trujillo
                                    
                                    a(href="#" class="btn-ver-empleos") Ver empleos
                        .col-md-6
                            .content-my-applications
                                .my-applications
                                    |Teleoperadores

                                .recent
                                    .info-client-province
                                        .name-client
                                            a(href="#") BBVA Continental
                                        .name-province
                                            |Ate
                                    .info-client-province
                                        .name-client
                                            a(href="#") Scotiabank
                                        .name-province
                                            |Trujillo
                                    
                                    a(href="#" class="btn-ver-empleos") Ver empleos

        #myModal3.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-body
                                div
                                 .tab-content
                                  .mensaje(class="olvidePass")
                                    |Cambiar Contraseña
                                  form(class="form")
                                   .form-group
                                     |Escribe tu nuea contraseña
                                   .form-group
                                     input.form-control(type='text', placeholder='Ingrese contraseña')
                                   .form-group
                                     input.form-control(type='text', placeholder='Repite la contraeeña')
                                   button.btn.btn-default(type='submit' class="btn-dni") Guardar
                                


                        