.container
    .form-registro
        form
            .row
                .title-register
                    |DATOS 
                    span PERSONALES
                .col-md-5
                    .form-group
                            label Tipo Documento
                            select(class="form-control")
                                option(value="selected") Seleccione
                                option(value="1") 1
                    .form-group
                            label Nombres
                            input(type="text" class="form-control" placeholder="Nombres" requerid)
                    
                    .form-group
                            label Apellido Materno
                            input(type="text" class="form-control" placeholder="Apellido materno" requerid)
                    .form-group
                        .row
                            .col-md-12
                                label Fecha de Nacimiento
                            .col-md-6
                                input(type="text" class="form-control" requerid)
                            
                        
                .col-md-5
                    .form-group
                        label Nro. Documento
                        input(type="text" class="form-control" placeholder="Ingresa tu número de DNI" requerid)
                    
                    .form-group
                            label Apellido Paterno
                            input(type="text" class="form-control" placeholder="Apellido paterno" requerid)
                    .form-group
                        label Sexo
                        select(class="form-control")
                            option(value="selected") Seleccione
                            option(value="1") 1
            .row
                .title-register
                    |DATOS 
                    span DE CONTACTO
                .col-md-5
                    .form-group
                        label Móvil
                        input(type="tel" class="form-control" placeholder="Escribe tu número de celular" requerid)
                    .form-group
                        label Correo Electronico
                        input(type="email" class="form-control" placeholder="Ingresa tu correo" requerid)
                .col-md-5
                    .form-group
                        label Teléfono fijo
                        input(type="tel" class="form-control" placeholder="Escribe tu número de telf. fijo"  requerid)
            .row
                .col-md-10
                    .form-group
                        label Dirección
                        textarea(class="form-control" rows="4" placeholder="Ingresa tu dirección")
                    .form-group
                        .row
                            .col-md-6
                                .row
                                    .col-md-12
                                        label ¿Dónde vives?
                                    .col-md-4
                                        label Departamento
                                        select(class="form-control")
                                            option(value="selected") Departamento
                                            option(value="1") 1
                                    .col-md-4
                                        label Provincia
                                        select(class="form-control")
                                            option(value="selected") Provincia
                                            option(value="1") 1

                                    .col-md-4
                                        label Distrito
                                        select(class="form-control")
                                            option(value="selected") Distrito
                                            option(value="1") 1                            
                            .col-md-6
            .row
                .title-register
                    |CONTRASEÑA
                .col-md-6
                    .form-group
                        label Nueva contraseña (mínimo 5 caracteres)
                        input(type="password" class="form-control" placeholder="Ingresa contraseña" requerid)
                .col-md-6
                    .form-group
                        label Repite tu contraseña (mínimo 5 caracteres)
                        input(type="password" class="form-control" placeholder="Repite contraseña" requerid)
            .row
                .col-md-12
                    .form-group
                        label(for="")
                            input(type="checkbox" value="")
                            |He leído y acepto los términos y condiciones
            .row
                .col-md-12
                    .content-button
                        button(type="button" class="btn btn-primary") Continuar