.container
    .row
        .col-md-12
            .img-gracias
                img(src="images/foto-pagina-gracias.jpg")
            .message-gracias
                |Gracias
            .txt-gracias
                |Ahora empieza a buscar el trabajo<br/> que te permitirá vivir la experiencia de Atento