.container
    .form-registro
        form
            .row
                .title-register(class="estudios")
                    |ESTUDIOS
                .col-md-9
                    .form-group
                            label Coméntanos tu nivel de estudios
                            ul(class="progressbar")
                                li 
                                li Secundaria
                                li Técnico
                                li Universitario
                            
                    
                    .form-group
                            label Carrera
                            select(class="form-control")
                                option(value="selected") Profesión
                                option(value="1") 1
                    .form-group
                            label Centro de estudios
                            select(class="form-control")
                                option(value="selected") Ingresa tu centro de estudio
                                option(value="1") 1
                    .form-group
                            label Ciclo de estudios
                            select(class="form-control")
                                option(value="selected") Ingresa tu ciclo de estudios
                                option(value="1") 1
                    .form-group
                            label Distrito centro de estudios
                            select(class="form-control")
                                option(value="selected") Ingresa el distrito de tu centro de estudios
                                option(value="1") 1
                    .form-group
                            label ¿En qué estado estás?
                            ul(class="progressbar")
                                li 
                                li Trunco
                                li En curso
                                li Terminado
                            

            .row
                .title-register(class="exp-lab")
                    |EXPERIENCIA  
                    span LABORAL
                .col-md-9
                    .form-group
                        label ¿Tienes experiencia laboral?
                        
                        .row
                            .col-md-10(class="content-bagdes")
                                a(href="#" class="badges") Atención al cliente
                                a(href="#" class="badges") Cross-selling
                                a(href="#" class="badges") Ventas
                                a(href="#" class="badges") Cobranzas
                                a(href="#" class="badges") Soporte Técnico
                                a(href="#" class="badges") Back Office
                                a(href="#" class="badges") Otros
                                a(href="#" class="badges") Sin experiencia
                    .form-group
                            label ¿Tiempo de experiencia?
                            select(class="form-control")
                                option(value="selected") Seleccione
                                option(value="1") 1
            .row
                .title-register(class="disp-lab")
                    |DISPONIBILIDAD  
                    span LABORAL
                .col-md-9        
                    .form-group
                        label ¿Cuál es tu disponibilidad de tiempo para trabajar con nosotros?
                        .row
                            .col-md-8(class="content-bagdes")
                                a(href="#" class="badges") Tiempo Completo
                                a(href="#" class="badges") Tiempo Parcial
                    .form-group
                        label ¿En qué sede te gustaría trabajar?
                        .row
                            .col-md-8(class="content-bagdes")
                                a(href="#" class="badges") Ate
                                a(href="#" class="badges") Callao
                                a(href="#" class="badges") Trujillo
                        
                    
            .row
                .col-md-12
                    .content-button
                        p ¿Listo para ser parte de la familia Atento? Dale grabar a tus datos
                        button(type="button" class="btn btn-primary secundary") Atrás
                        button(type="button" class="btn btn-primary") Grabar