.container
    .row
        .col-md-12
            ul(class="list")
                li FORMALIDAD

                li FAMILIA

                li ESCUELA

                li SOCIEDAD
        
        .col-md-12
            .pie
                .content-nav
                    .hamburger
                        .hamburger-inner

                a(href="#" class="btn-ver-empleos" type='button', data-toggle='modal', data-target='#myModal') Postula aquí

                
                #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                    .modal-dialog(role='document')
                        .modal-content
                            //- .modal-header
                            //-     button.close(type='button', data-dismiss='modal', aria-label='Close')
                            //-         span(aria-hidden='true') ×
                            .modal-body
                                div
                                    // Nav tabs
                                    ul.nav.nav-tabs(role='tablist')
                                        li(role='presentation')
                                            a(href='#registro', aria-controls='registro', role='tab', data-toggle='tab') Registrate
                                        li.active(role='presentation')
                                            a(href='#login', aria-controls='login', role='tab', data-toggle='tab') Iniciar sesión
                                       
                                    // Tab panes
                                    .tab-content
                                        .mensaje
                                            img(src="images/bienvenido-a-la-familia-atento.png")
                                        #registro.tab-pane(role='tabpanel') 
                                         form(class="form")
                                            .form-group
                                                input.form-control(type='text', placeholder='Nombres y Apellido')
                                            .form-group
                                                input.form-control(type='text', placeholder='DNI')
                                            .form-group
                                                input.form-control(type='tel', placeholder='Celular')
                                            .form-group
                                                input.form-control(type='email', placeholder='Correo')
                                            .form-group
                                                input.form-control(type='password', placeholder='Contraseña')
                                            .checkbox
                                                label
                                                    input(type='checkbox')
                                                    |  He leido y acepto los términos y condiciones
                                            button.btn.btn-default(type='submit') Regístrate
                                        #login.tab-pane.active(role='tabpanel') 
                                         form(class="form")
                                            .form-group
                                                |Ingresa con tu DNI
                                            .form-group
                                                input.form-control(type='text', placeholder='DNI')
                                            .form-group
                                                input.form-control(type='password', placeholder='Contraseña')
                                            .spacer
                                            button.btn.btn-default(type='submit') Ingresar
                                            .checkbox
                                                label
                                                    input(type='checkbox')
                                                    |  Recordar mis datos
                                            a(href="#" class="repassword" type='button', data-toggle='modal', data-target='#myModal2') Olvide mi contraseña
                #myModal2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-body
                                div
                                 .tab-content
                                  .mensaje(class="olvidePass")
                                    strong Olvide 
                                    |Contraseña
                                  form(class="form")
                                   .form-group
                                     |¿Cual es tu Número de Doc. de identidad?
                                   .form-group
                                     input.form-control(type='text', placeholder='Escribe tu DNI')
                                   button.btn.btn-default(type='submit' class="btn-dni") Enviar
                                   