.container
    .row
        .col-md-9
            .content-work-available(class="postulaciones-detalle")
                .grid-work-available
                    .row
                        .col-md-12
                            .content-my-applications
                                .my-applications
                                    |Ventas - BBVA Continental
                                    .name-province-detalle
                                        |Ate
                                .recent
                                    h4 ¡Únete a la mejor emprea para trabajar en el Perú!
                                    p Esta es tu optunidad de formar parte de una gran familia. Contamos con diversos beneficios pensados para ti y una linea de carrera para que puedas crecer con nosotros. ¿Qué esperas?¡Postula!
                                    p Función principal: Realizar Ventas de manera telfónica para importantes empresas del sector Telecomunicaciones, Retail, Banca, Seguros, entre otros.
                                    h4 ¿Que buscamos?
                                    p Mayores de edad.<br/>
                                        |Secundaria completa y/o estudios superiores en curdo, truncos o finalizados.<br/>
                                        | Experiencia en Ventas de manera presencial o telefónica.<br/>
                                        | Manejo de Microsoft Office a nivel usuario.<br/>
                                        | Ecelente nivel de comunicación, dinámicos, trabajo en equipo y con orientación a cumplir objetivos.<br/>
                                        | Disponibilidad para trabajar en nuestras sedes de Ate, de lunesa sábado con descanso domingo.<br/>
                                        | DISPONIBILIDAD PARA TRABAJAR EN JORNADAS PART TIME Y FULL TIME TURNO TARDE.
                                    
                                    
                                    a(href="#" class="btn-ver-empleos") Postular
        .col-md-3
            .content-work-available(class="mi-perfil")
                    .grid-work-available
                        .row
                            .col-md-12
                                .search
                                    .input-group
                                        input(type="text" class="form-control" placeholder="Buscar empleos")
                                    .input-group-btn
                                        button(type="button" class="btn btn-default") 
                                .content-my-applications
                                
                                    .my-applications
                                        |Mi perfil

                                    .recent
                                        p Crea tu perfil atento<br/>
                                            |para recomendarte las mejores
                                            |oportunidades laborales
                                        a(href="#" class="btn-ver-empleos") Ir al perfil
                                    