.container
    .row
        .col-md-12
            .imagen
                .img-gracias
                    img(src="images/img_postular.jpg")
                .message-gracias
                    |¡Gracias por postular!
                .txt-gracias
                    |¡Estas a un paso de formar parte<br/> de la familia Atento!