doctype html
html(lang="es-ES")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
    title Atento
    meta(name='description', content="Atento")
    meta(name='keywords', content="Atento")
    meta(name='author', content="Atento")
    //- Facebook meta tags
    meta(property='og:title', content="Atento")
    meta(property='og:description', content="Atento")
    meta(property='og:type', content="Web")
    meta(property='og:url', content="")
    meta(property='og:image', content="")
    //- Favicon
    link(href="images/favicon.jpg", rel='shortcut icon', type='image/x-icon')
    link(rel='stylesheet', href='css/style.css')

  body

    block header

    block content


    block footer
  
    script(src='js/vendor/vendor_all.js')
    script(src='js/bundle.js')