header
    .container
        .row
            .col-md-4
                .content-left
                    .unete
                        |Únete a la<br/> 
                        span Familia
                        span Atento
                    .trabaja-nosotros
                        |#TrabajaConNosotros
                    .logo-at-blanco
                        img(src="images/logo-azul-atento.png")
            .col-md-8
                .content-right
                    img(src="images/img-right.png")
                    .btn-postula 
                        a(href="#" type='button', data-toggle='modal', data-target='#myModal') Postula aquí
            .col-md-12
                .conocenos
                    |CONÓCENOS