header(class="header-registro")
    .container
        .logo-registro
            .logo-blanco
                img(src="images/logo-atento.png")
        .title-registrate
            |Regístrate ingresando tus datos